.section--wrapper__home {
    $bg-color: #FCF7F5;
    $button-bg-color: #353175;
    $button-font-color: #353175;
    $button-hover-font-color: #FCF7F5;
    $illustration-color: #DFAEA2;

    display: flex;
    position: relative;
    align-items: center;
    background: $bg-color;

    .cta-button {
        color: $button-font-color;
        border: 1px solid $button-bg-color;
        &:hover {
            color: $button-hover-font-color;
            background-color: $button-bg-color;
        }
    }
    
    // .content__image {
    //     width: 100px;
    //     height: 100px;
    //     background: url("./../../assets/background.png") no-repeat;
    //     background-position: 100% 100%;
    // }
}
