.section--wrapper__home {
    $button-bg-color: #353175;
    $button-font-color: #353175;
    $illustration-color: #DFAEA2;
    $button-hover-font-color: #FCF7F5;

    height: 100vh;
    min-height: 350px;
    position: relative;
    @include themed() {
        background-color: apply_theme($home-bg);
      }
    &>.row {
        height: 100%;
        align-items: center;
    }
    .cta-button {
        color: $button-font-color;
        &:hover {
            color: $button-hover-font-color;
            background-color: $button-bg-color;
        }
    }
    
    // .content__image {
    //     width: 100px;
    //     height: 100px;
    //     background: url("./../../assets/background.png") no-repeat;
    //     background-position: 100% 100%;
    // }
}
