.theme-toggle--button {
    $transition-duration: 500ms;
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 50%;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    @include themed() {
        box-shadow: apply_theme(theme-btn-shadow);
    }
    
    &.btn-default {
        border: none;
    }
    &:focus {
        @include themed() {
            box-shadow: apply_theme(theme-btn-shadow);
        }
    }
    &:active {
        @include themed() {
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }
    }
    span {
        display: inline-block;
    }
    .rays--container {
        width: 100%;
        height: 100%;
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        .ray {
            position: absolute;
            border-radius: 50%;
            transition: all $transition-duration;
            &:nth-child(2) {
                transform: rotate(45deg);
            }
            &:nth-child(3) {
                transform: rotate(90deg);
            }
            &:nth-child(4) {
                transform: rotate(-45deg);
            }
        }
    }
    .shape {
        z-index: 1;
        position: absolute;
        border-radius: 50%;
        background: #fff;
        border: 2px solid #fff;
        transition: all $transition-duration;
        &.moon {
            width: 25px;
            height: 25px;
            box-shadow: inset -8px -7px $theme-button-color;
            & ~ .rays--container {
                .ray {
                    width: 0;
                    height: 0;
                }
            }
        }
        &.sun {
            width: 15px;
            height: 15px;
            box-shadow: inset -8px -8px $theme-button-color;
            & ~ .rays--container {
                transform: rotate(90deg);
                transition: transform 750ms 400ms;
                .ray {
                    width: 5px;
                    height: 25px;
                    background-color: $theme-button-color;
                }
            }
        }
    }
}