.section--wrapper__work {
    $button-bg-color: #353175;
    $button-font-color: #353175;
    $button-hover-font-color: #FCF7F5;
    .work--card__container {
        gap: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .work--card {
        border: none;
        flex: 0 0 calc(50% - 1rem);
        transition: background-color $theme-transition-duration,
            box-shadow $theme-transition-duration;
        @include themed() {
            background-color: apply_theme($work-card-bg);
            box-shadow: apply_theme($work-card-shadow);
        }
        .card-body {
            padding: 0.5rem;
            .work--card__text-content {
                padding: 0.75rem;
                margin-top: 0.25rem;
                .card-title {
                    font-family: 'WorkSans-Medium';
                }
                .work--card__button {
                    @include themed() {
                        color: apply_theme($work-card-button-font);
                        border-color: apply_theme($work-card-button-bg);
                    }
                    &:hover {
                        @include themed() {
                            color: apply_theme($work-card-button-hover-font);
                            background-color: apply_theme($work-card-button-bg);
                        }
                    }
                    // color: $button-font-color;
                    // &:hover {
                    //     color: $button-hover-font-color;
                    //     background-color: $button-bg-color;
                    // }
                }
            }
        }
    }
}