// ----- Default theme -----

$bg-color--light: #fff;
$font-color--light: #333;

//Header
$header-bg--light: #FCF7F5;
$header-brand-color--light: #333;

// Home
$home-bg--light: #FCF7F5;
$home-cta-button-bg--light: #353175;
$home-cta-button-font--light: #353175;
$home-cta-button-hover-font--light: #FCF7F5;
$home-illustration-color--light: #DFAEA2;

//About


//Work


//Footer



// ----- Dark theme -----

$bg-color--dark: #191438;
$font-color--dark: #FCF7F5;

//Header
$header-bg--dark: #040409;
$header-brand-color--dark: #333;

// Home
$home-bg--dark: #040409;
$home-cta-button-bg--dark: #353175;
$home-cta-button-font--dark: #353175;
$home-cta-button-hover-font--dark: #FCF7F5;
$home-illustration-color--dark: #353175;

//About


//Work


//Footer