@import './color-theme-variables';

$bg-color: 'bg-color';
$font-color: 'font-color';
$header-bg: 'header-bg';
$header-brand-color: 'header-brand-color';
$home-bg: 'home-bg';
$home-cta-button-bg: 'home-cta-button-bg';
$home-cta-button-font: 'home-cta-button-font';
$home-cta-button-hover-font: 'home-cta-button-hover-font';
$home-illustration-color: 'home-illustration-color';
$work-card-bg: 'work-card-bg';
$work-card-shadow: 'work-card-shadow';
$header-shadow: 'header-shadow';
$theme-btn-shadow: 'theme-btn-shadow';
$work-card-button-bg: 'work-card-button-bg';
$work-card-button-font: 'work-card-button-font';
$work-card-button-hover-font: 'work-card-button-hover-font';

$themes: (
        default: (
            bg-color: $bg-color--light,
            font-color: $font-color--light,
            header-bg: $header-bg--light,
            header-brand-color: $header-brand-color--light,
            home-bg: $home-bg--light,
            home-cta-button-bg: $home-cta-button-bg--light,
            home-cta-button-font: $home-cta-button-font--light,
            home-cta-button-hover-font: $home-cta-button-hover-font--light,
            home-illustration-color: $home-illustration-color--light,
            work-card-bg: $work-card-bg--light,
            work-card-shadow: $work-card-shadow--light,
            work-card-button-bg: $work-card-button-bg--light,
            work-card-button-font: $work-card-button-font--light,
            work-card-button-hover-font: $work-card-button-hover-font--light,
            header-shadow: $header-shadow--light,
            theme-btn-shadow: $theme-btn-shadow--light
        ),
        dark: (
            bg-color: $bg-color--dark,
            font-color: $font-color--dark,
            header-bg: $header-bg--dark,
            header-brand-color: $header-brand-color--dark,
            home-bg: $home-bg--dark,
            home-cta-button-bg: $home-cta-button-bg--dark,
            home-cta-button-font: $home-cta-button-font--dark,
            home-cta-button-hover-font: $home-cta-button-hover-font--dark,
            home-illustration-color: $home-illustration-color--dark,
            work-card-bg: $work-card-bg--dark,
            work-card-shadow: $work-card-shadow--dark,
            work-card-button-bg: $work-card-button-bg--dark,
            work-card-button-font: $work-card-button-font--dark,
            work-card-button-hover-font: $work-card-button-hover-font--dark,
            header-shadow: $header-shadow--dark,
            theme-btn-shadow: $theme-btn-shadow--dark
        )
);

@mixin themed() {
    @each $theme, $map in $themes {
      .theme--#{$theme} & {
        $theme-map: () !global;
        @each $key, $submap in $map {
          $value: map-get(map-get($themes, $theme), '#{$key}');
          $theme-map: map-merge($theme-map, ($key: $value)) !global;
        }
        @content;
        $theme-map: null !global;
      }
    }
  }
  
  @function apply_theme($key) {
    @return map-get($theme-map, $key);
  }