// ----- Colors -----

$home_bg_color: #EBCEAE;
$home_font_color: #333;
$home_illustration_color: #DFAEA2;
$home_button_bg_color: #EBCEAE;

$about_bg_color: #EBCEAE;
$about_font_color: #EBCEAE;
$about_image_shadow_color: #EBCEAE;

$work_bg_color: #EBCEAE;
$work_font_color: #EBCEAE;
$work_image_shadow_color: #EBCEAE;

$footer_bg_color: #191438;
$footer_font_color: #EBCEAE;
$footer_contact_button_bg_color: #9BF21D;
$footer_contact_bg_color: linear-gradient(155.19deg, #302A92 0%, #1E1A5E 84.19%);

// ------------------