.container__contact-form {
    $label-color: #FCF7F5;
    $input-color: #353175;
    $button-font-color: #FCF7F5;
    $button-hover-font-color: #353175;
    max-width: 20rem;
    padding: 1.25rem;
    border-radius: 4px;
    color: $label-color;
    box-shadow: 5px 10px 25px rgba(20, 18, 43, 0.9);
    background: linear-gradient(155deg, #302A92 0%, #1E1A5E 85%);
    .section--header__contact {
        line-height: 2rem;
        font-family: 'WorkSans-Bold';
    }
    input {
        height: 2rem;
    }
    textarea {
        height: 4rem;
        resize: none;
    }
    .form-control {
        border: none;
        color: inherit;
        background-color: rgba(255, 255, 255, 0.3);
        &:focus {
            box-shadow: 0 0 0 0.2rem rgb(55, 49, 163);
        }
    }
    .submit-btn {
        width: 6rem;
        border-color: #9BF21D;
        color: $button-font-color;
        &:hover {
            background-color: #9BF21D;
            color: $button-hover-font-color;
            box-shadow: 4px 4px 15px rgba(25, 20, 56, 0.8);
        }
    }
}