$page_padding_left_right: 50px;
$header_font_color: #535252;
$header_active_font_color: #3018fe;
$header_nav_bg_color: #f8f2ea;
$font_color: #333333;
$home_section_font_size: 1.25rem;
$home_section_bg_color: #f8f2ea;

.p0 {
    padding: 0;
}
.m0 {
    margin: 0;
}

.p5 {
    padding: 5px;
}
.m5 {
    margin: 5px;
}

.pB5 {
    padding-bottom: 5px;
}
.mB5 {
    margin-bottom: 5px;
}
