.component--wrapper__footer {
    // $bg-color: #191438;
    $color: #a1a8be;
    @include themed() {
        background-color: apply_theme($footer-bg);
    }
    transition: background-color $theme-transition-duration;
    position: relative;
    .reference-grid {
        display: none;
        bottom: 0;
        width: 71%;
        position: absolute;
    }
    .form-container {
        top: -1.25rem;
        margin: 0 auto;
        position: relative;
    }
    .footer--col__info, .developer-info--container {
        margin-top: 1.5rem;
    }
    .footer--col__info {
        display: flex;
        .container-right {
            display: inline-flex;
            flex-direction: column;
            .row {
                align-items: flex-end;
                &:first-of-type {
                    flex-grow: 0.85;
                }
                &:last-of-type {
                    flex-grow: 1;
                    margin-bottom: 0.5rem;
                }
            }
            .email {
                color: $color;
                position: relative;
                text-decoration: none;
                &:before {
                    content: '';
                    width: 0;
                    bottom: -1px;
                    height: 1px;
                    position: absolute;
                    background-color: $color;
                    transition: width 0.5s ease-in-out;
                }
                &:hover:before {
                    width: 100%;
                }
            }
            .social-icons--container {
                margin-top: 1rem;
                .social-icon {
                    width: 25px;
                    height: 25px;
                    color: $color;
                    font-size: 1.2rem;
                    border-radius: 4px;
                    align-items: center;
                    display: inline-flex;
                    text-decoration: none;
                    justify-content: center;
        
                    &:not(:first-child) {
                        margin-left: 1rem;
                    }
                }
            }
            .developer-info {
                color: $color;
                font-family: 'WorkSans-Light';
            }
        }
    }
    
    @media (min-width: 450px) {
        .footer--col__info {
            justify-content: center;
            .container-right {
                min-width: 20rem;
            }
        }
    }
    @media (max-width: 450px) {
        .footer--col__info {
            justify-content: flex-start;
        }
    }
    @media (min-width: 768px) {
        .form-container {
            margin: unset;
        }
        .footer--col__info {
            justify-content: flex-end;
            .container-right {
                min-width: unset;
            }
        }
        .footer--col__info, .developer-info--container {
            margin-top: unset;
        }
    }
}
.social-icon--tooltip {
    filter: drop-shadow(0px 0px 15px #080228);
    .tooltip-inner {
        padding: 0.5rem;
        background-color: #302A92;
    }
    .tooltip-arrow::before {
        border-top-color: #302A92;
    }
    &.show {
        opacity: 1;
    }
}