@import './config/variables';
@import './config/theme';
@import './Components/Header/header-styles.scss';
@import './Sections/Home/home-styles.scss';
@import './Sections/About/about-styles.scss';
@import './Sections/Work/work-styles.scss';
@import './Components/Footer/footer-styles.scss';

body {
    color: $default-font-color;
}

.theme {
    @include themed() {
        background-color: apply_theme($bg-color);
    }
}

.wrapper {
    padding: 0 14.5%; //12.375rem;
}

.section--wrapper {
    height: $wrapper-min-height;
    padding-top: $wrapper-padding-top;

}

.section--header {
    text-align: center;
    text-transform: uppercase;
    font-family: 'WorkSans-Bold';
    font-size: $section-header-font-size;
}

.content {
    &__text {
        &--big {
            font-size: $content-text-big-font-size;
            line-height: $content-text-big-font-size;
            font-family: $content-text-big-font-family;
        }
        &--medium {
            font-size: $content-text-medium-font-size;
            font-family: $content-text-big-font-family;
        }
        &--regular {
            font-size: $content-text-regular-font-size;
        }
    }

}
