@import './config/variables';
@import './config/theme';
@import './Components/Header/header-styles.scss';
@import './Components/ThemeToggleButton//themeToggleButton-styles.scss';
@import './Sections/Home/home-styles.scss';
@import './Sections/About/about-styles.scss';
@import './Sections/Work/work-styles.scss';
@import './Components/Footer/footer-styles.scss';
@import './Components/ContactForm/contactForm-styles.scss';

.theme {
    @include themed() {
        color: apply_theme($font-color);
        background-color: apply_theme($bg-color);
    }
    transition: color $theme-transition-duration,
        background-color $theme-transition-duration;
}

.wrapper {
    padding: 0 14.5%; //12.375rem;
}

.section--wrapper {
    // height: $wrapper-min-height;
    padding-top: $wrapper-padding-top;

}

.section--wrapper__content {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.section--header {
    text-align: center;
    margin-bottom: 3rem;
    text-transform: uppercase;
    font-family: 'WorkSans-Bold';
    font-size: $section-header-font-size;
}

.content {
    &__text {
        &--big {
            font-size: $content-text-big-font-size;
            line-height: $content-text-big-font-size;
            font-family: $content-text-big-font-family;
        }
        &--medium {
            font-size: $content-text-medium-font-size;
            font-family: $content-text-big-font-family;
        }
        &--regular {
            font-size: $content-text-regular-font-size;
        }
    }

}

button.btn-default {
    border: 1px solid;
    border-color: inherit;
}

body::-webkit-scrollbar {
    width: 0.7em;
  }
   
  body::-webkit-scrollbar-track {
    // box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border: 1px solid #ccc;
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }